/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styling Starts Here */
/* Desktop First Approach */

/* My Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* General Styles */
html {
    font-size: 16px;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1370px;
    width: 100%;
}
button,
input,
select {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 0;
}
img,
audio,
video {
    width: 100%;
}

/* Variables */
:root {
    --header-text:#635551;
    --primary-bg:#EA5433;
    --primary-bg-lighter:#EC7048;
    --primary-bg-lightest:#F5C1AE;
    --switch-bg:#584B48;
    --secondary-bg:#faeae3;
    --text-white:#FFFFFF;
    --heading-whitebg:#313030;
    --text-whitebg:#757474;
    --heading-secondarybg:#554945;
    --text-1-secondaybg:#7F6D68;
    --text-2-secondarybg:#646464;
    --text-3:#9E9B9B;
    --text-4:#BABABA;
}

/* Containers */
.container-97 {
    width: 97.5%;
}
.container-90 {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

/* Flex */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-32 {
    flex: 0 1 31.5%;
}
.flex-34 {
    flex: 0 1 34%;
}
.flex-60 {
    flex: 0 1 60%;
}
.flex-64 {
    flex: 0 1 64%;
}
.center {
    justify-content: center;
    align-items: center;
}

/* Headings */
h1 {
    font-size: 3rem;
    font-weight: 800;
}
h2 {
    font-size: 2rem;
    font-weight: 800;
}
h4 {
    font-size: 1rem;
    font-weight: 800;
}
.heading-white-bg {
    color: var(--heading-whitebg);
}

/* Texts */
.text {
    font-size: .85rem;
    line-height: 1.5;
    font-weight: 600;
}
.text-white-bg {
    color: var(--text-whitebg);
}

/* Buttons */
.btn {
    background: none;
}


/* Header Styles */
.header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--text-white);
    z-index: 99;
}
.brand-name {
    color: var(--header-text);
    font-size: 1.75rem ;
    font-weight: 800;
}
.nav-menu {
    padding-right: 2rem;
}
.nav-menu-item {
    padding: .5rem 0;
}
.nav-menu a {
    font-size: .85rem;
    font-weight: 700;
    color: var(--header-text);
}
.nav-menu .active {
    color: var(--primary-bg);
}
.drop-down {
    position: relative;
    transition: all 900ms ease-in-out;
}
.drop-down-options {
    display: none;
    width: 9rem;
    border-radius: 0.5rem ;
    background-color: var(--text-white);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .2);
    z-index: 98;
    
}
.drop-down-options li {
    padding: 0 1rem;
    margin: 1rem 0;
}
.drop-down:hover .drop-down-options {
    display: block;
    position: absolute;
    top: 2rem;
    left: -0.5rem;
}
.drop-down-2-options {
    display: none;
    width: 8rem;
    border-radius: 0.5rem ;
    background-color: var(--text-white);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .2);
    z-index: 99;
}
.drop-down-2 {
    transition: all 900ms ease-in-out;
}
.drop-down-2:hover .drop-down-2-options {
    display: block;
    position: absolute;
    top: 2rem;
    left: 95%;
}

/* Main Styles */
/* Hero Section */
.hero {
    margin-top: 4rem;
    padding: 10rem 0 2rem 0;
}
.hero .hero-bg {
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
     url(../media/hero-bg.jpg) -20rem -10rem no-repeat;
    position: fixed;
    top: 4rem;
    z-index:-99;
    width: 97.5%;
    padding: 15rem 0;
}
.hero .heading {
    color: var(--text-white);
}
.hero .heading p {
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 1rem;
}
.hero .switch {
    margin-top: 4rem;
    background-color: var(--switch-bg);
    padding: .5rem 1.5rem .5rem 4rem;
    color: var(--text-white);
    border-radius: 1rem;
    position: relative;
}
.switch .circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--primary-bg);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .2);
    position: absolute;
    font-size: .75rem;
    top: -20% ;
    left: 0 ;
}
.switch span {
    font-size: 1rem;
    font-weight: 500;
}
/* Reasons Section */
.reasons {
    background: transparent;
    padding: 1rem;
}
.reasons article {
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .1);
    line-height: 1.2;
}
.primary-reason {
    background: var(--primary-bg);
    border-radius: 0.25rem;
    color: var(--text-white);
}
.primary-reason p {
    margin: 2rem 0;
    font-weight: 500;
}
.primary-reason button {
    align-self: center;
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    background-color: var(--primary-bg-lighter);
    color: white;
}
.reasons .primary-reason button .fa-solid {
    color: var(--text-white);
    font-size: .5rem;
    margin-left: .5rem;
}
.secondary-reason {
    background: var(--text-white);
    border-radius: 0.5rem;
    text-align: center;
}
.reasons .secondary-reason .fa-solid{
    color: var(--primary-bg);
    font-size: 2rem;
}
.secondary-reason h4 {
    margin: 1.5rem 0;
}
/* About Section */
.about {
    background-color: var(--secondary-bg);
}




















/* Hovering Styles */
a:hover {
    color: var(--primary-bg);
}
.hero .switch:hover {
    background-color: var(--primary-bg);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .1);
    transition: all 300ms ease-in-out;
}
.primary-reason button:hover{
    background-color: var(--text-white);
    color: var(--primary-bg);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, .1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, .1);
    transition: all 300ms ease-in-out;
}
.primary-reason button:hover .fa-solid {
    color: var(--primary-bg);
    transition: all 300ms ease-in-out;
}