/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styling Starts Here */
/* Desktop First Approach */

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* General Styles */
html {
  font-size: 16px;
}
body {
  font-family: "Raleway", sans-serif;
  max-width: 1370px;
  width: 100%;
  line-height: 1.5;
}
button,
input,
select,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  padding: 0;
  font-weight: 600;
}
img,
audio,
video {
  width: 100%;
}

/* Variables */
:root {
  --header-text: #635551;
  --primary-bg: #ea5433;
  --primary-bg-lighter: #ec7048;
  --primary-bg-lightest: #f5c1ae;
  --switch-bg: #584b48;
  --secondary-bg: #faf0eb;
  --text-white: #ffffff;
  --heading-whitebg: #313030;
  --text-whitebg: #757474;
  --heading1-secondarybg: #4b423e;
  --heading2-secondarybg: #42474d;
  --text-subheading-secondarybg: #7f6d68;
  --text-1-secondarybg: #302f2f;
  --text-2-secondarybg: #646464;
  --text-3: #666666;
  --text-4: #bababa;
}

/* Containers */
.container-97 {
  width: 97.5%;
}
.container-90 {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-24 {
  flex: 0 1 24%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-32 {
  flex: 0 1 31.5%;
}
.flex-34 {
  flex: 0 1 34%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-49 {
  flex: 0 1 49%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-64 {
  flex: 0 1 64%;
}
.flex-80 {
  flex: 0 1 80%;
}
.flex-100-overflow {
  flex: 0 0 100%;
}
.center {
  justify-content: center;
  align-items: center;
}

/* Headings */
h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}
h3 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.2;
}
h4 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.2;
}
h5 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.2;
}
h6 {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-1-secondarybg);
}
.heading-white-bg {
  color: var(--heading-whitebg);
}

/* Texts */
.text {
  font-size: 0.85rem;
  line-height: 1.5;
  font-weight: 600;
}
.text-white-bg {
  color: var(--text-whitebg);
}
.text-accent {
  color: var(--primary-bg);
}

/* Buttons */
.btn {
  background: var(--primary-bg);
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(234, 84, 51, 0.25),
    -0.1rem -0.1rem 0.5rem 0 rgba(234, 84, 51, 0.25);
}

/* Home Page Style Start */
/* Header Styles */
.header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--text-white);
  z-index: 99;
}
.brand-name {
  color: var(--header-text);
  font-size: 1.75rem;
  font-weight: 800;
}
.header input,
.header .fa-bars {
  display: none;
}
.nav-menu {
  padding-right: 2rem;
}
.nav-menu-item {
  padding: 0.5rem 0;
}
.nav-menu a {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--header-text);
}
.nav-menu .active {
  color: var(--primary-bg);
}
.drop-down {
  position: relative;
  transition: all 900ms ease-in-out;
}
.drop-down-options {
  display: none;
  width: 9rem;
  border-radius: 0.5rem;
  background-color: var(--text-white);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  z-index: 98;
}
.drop-down-options li {
  padding: 0 1rem;
  margin: 1rem 0;
}
.drop-down:hover .drop-down-options {
  display: block;
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}
.drop-down-2-options {
  display: none;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: var(--text-white);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.drop-down-2 {
  transition: all 900ms ease-in-out;
}
.drop-down-2:hover .drop-down-2-options {
  display: block;
  position: absolute;
  top: 2rem;
  left: 95%;
}

/* Main Styles */
/* Hero Section */
.hero {
  margin-top: 4rem;
  padding: 10rem 0 2rem 0;
}
.hero .hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../media/hero-bg.jpg) -20rem -10rem no-repeat;
  position: fixed;
  top: 4rem;
  z-index: -99;
  width: 97.5%;
  max-width: 1335px;
  padding: 15rem 0;
}
.hero .heading {
  color: var(--text-white);
}
.hero .heading p {
  font-size: 1.35rem;
  font-weight: 500;
  margin-top: 1rem;
}
.hero .switch {
  margin-top: 4rem;
  background-color: var(--switch-bg);
  padding: 0.5rem 1.5rem 0.5rem 4rem;
  color: var(--text-white);
  border-radius: 1rem;
  position: relative;
}
.switch .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-bg);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 0.75rem;
  top: -20%;
  left: 0;
}
.switch span {
  font-size: 1rem;
  font-weight: 500;
}
/* Reasons Section */
.reasons {
  background: transparent;
  padding: 1rem;
}
.reasons article {
  padding: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  line-height: 1.2;
}
.primary-reason {
  background: var(--primary-bg);
  border-radius: 0.25rem;
  color: var(--text-white);
}
.primary-reason p {
  margin: 2rem 0;
  font-weight: 500;
}
.primary-reason button {
  align-self: center;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-bg-lighter);
  color: white;
}
.reasons .primary-reason button .fa-solid {
  color: var(--text-white);
  font-size: 0.5rem;
  margin-left: 0.5rem;
}
.secondary-reason {
  background: var(--text-white);
  border-radius: 0.5rem;
  text-align: center;
}
.reasons .secondary-reason .fa-solid {
  color: var(--primary-bg);
  font-size: 2rem;
}
.secondary-reason h4 {
  margin: 1.5rem 0;
}
/* About Section */
.about {
  background-color: var(--secondary-bg);
  padding: 3rem 0;
}
.about .flex-40 {
  position: relative;
}
.about .flex-40 figure {
  height: 100%;
}
.about .flex-40 img {
  height: 100%;
}
/* Play Button */
.play {
  position: absolute;
  top: 45%;
  left: 45%;
}
.play-btn {
  width: 4rem;
  height: 4rem;
  background: var(--primary-bg);
  border-radius: 50%;
  box-shadow: 0px 0px 25px 3px rgba(234, 84, 51, 0.6);
  position: relative;
  color: white;
}

/* Pulse wave for play Button */
.play-btn:before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(234, 84, 51, 0.6);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(234, 84, 51, 0.6),
      0px 0px 25px 10px rgba(234, 84, 51, 0.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(234, 84, 51, 0.6),
      0px 0px 25px 10px rgba(234, 84, 51, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.about .flex-60 {
  padding: 2rem;
}
.about .flex-60 article {
  margin: 2rem 0;
}
.about p {
  color: var(--text-1-secondarybg);
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0.75rem 0;
}
.about .flex-60 article div {
  margin-left: 1rem;
}
.about .flex-60 article .icon {
  font-size: 1.5rem;
  color: var(--primary-bg);
  border: 2px solid var(--primary-bg-lightest);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--text-white);
}
.about .flex-60 article p {
  font-size: 0.8125rem;
}
.about .subheading {
  color: var(--text-subheading-secondarybg);
  font-size: 1rem;
  font-weight: 600;
}
.about h3 {
  color: var(--heading1-secondarybg);
}
.about h4 {
  color: var(--heading2-secondarybg);
}
/* Clients Section */
.clients {
  padding: 3rem;
  background: var(--text-white);
}
.clients div {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.clients div::-webkit-scrollbar {
  display: none;
}
.grow-overflow {
  flex: 1 0 15%;
  margin-right: 2.5%;
}
.clients figure img {
  width: 70%;
  filter: grayscale(100);
  filter: contrast(0);
}
.clients figure i {
  filter: contrast(0);
  font-size: 0.75rem;
  margin: 1rem 0.25rem;
}
.clients figure .active {
  color: var(--primary-bg);
  filter: contrast(1);
}
/* Services Section */
.services {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 3rem 0;
}
.services p {
  margin: 1rem 0;
}
.services h3 {
  color: var(--heading1-secondarybg);
}
.services article {
  position: relative;
  background-color: var(--text-white);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  margin: 3rem 0;
}
.services article .circle {
  background-color: var(--primary-bg);
  color: var(--text-white);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 42%;
  top: -1.5rem;
}
.services article p {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--text-1-secondarybg);
}
.services h4 {
  color: var(--heading-whitebg);
  text-transform: uppercase;
}
/* Values Section */
.values {
  padding: 3rem 0;
  background-color: var(--text-white);
}
.values article {
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: left;
  position: relative;
  font-size: 0;
  margin: 0.75rem 0;
}
.values article img {
  border-radius: 0.5rem;
}
.values article div {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  padding: 1rem;
  z-index: 5;
}
.values article h5 {
  color: var(--heading-whitebg);
  text-align: center;
}
.values article div p {
  font-weight: 600;
  color: var(--text-1-secondarybg);
  margin: 1rem;
}
.values article div a {
  color: var(--text-3);
  font-size: 0.75rem;
  font-weight: 700;
  margin: 1rem;
}
/* Testimonials Section */
.testimonials {
  text-align: center;
  color: var(--text-white);
}
.testimony {
  padding: 5rem 0;
  position: relative;
}
.testimonials .bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/testimonials-bg.jpg) 0% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -90;
}
.testimonials figure {
  margin: 0 auto;
}
.testimonials img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
}
.testimonials strong {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.testimonials p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.testimonials blockquote {
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 8rem;
  letter-spacing: 1px;
}
.testimonials .fa-quote-left::before {
  display: inline-block;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 0.5rem;
}
.testimonials .fa-quote-right::before {
  display: inline-block;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 0.5rem;
}
.testimonials div i {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0.25rem;
}
.testimony .active {
  color: var(--primary-bg);
}
.testimonials {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.testimonials::-webkit-scrollbar {
  display: none;
}

/* Portfolio Section */
.portfolio {
  background-color: var(--text-white);
  text-align: center;
  padding: 3rem 0;
}
.portfolio h3 {
  color: var(--heading1-secondarybg);
}
.portfolio p {
  margin: 1.5rem 0;
}
.portfolio span {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--text-1-secondarybg);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
.portfolio .active {
  background-color: rgba(234, 84, 51, 0.25);
  border-radius: 2rem;
  color: var(--primary-bg);
  order: 1;
}
.portfolio .inactive {
  order: 2;
}
.portfolio figure {
  margin: 1rem 0;
  position: relative;
}
.portfolio .link {
  text-align: left;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 91.5%;
  display: none;
}
.portfolio .link p {
  font-size: 0.75rem;
  margin: 0;
  color: var(--text-3);
}
.portfolio .link i {
  margin-left: 1rem;
  color: var(--text-2-secondarybg);
}
/* Team Section */
.team {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 3rem 0;
}
.team h3 {
  color: var(--heading1-secondarybg);
}
.team .heading {
  margin-bottom: 3rem;
}
.team .heading .text {
  margin: 1rem 0;
}
.team article {
  background-color: var(--text-white);
  border-radius: 0.5rem;
}
.team img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.team article h4 {
  color: var(--text-1-secondarybg);
  margin: 0.5rem 0;
}
.team article p {
  color: var(--text-4);
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.team article figure {
  position: relative;
}
.team .social {
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0.4rem;
  z-index: 5;
  width: 100%;
  display: none;
}
.team .social a {
  margin: 0 1rem;
  color: var(--text-1-secondarybg);
}
/* Pricing */
.pricing {
  background-color: var(--text-white);
  text-align: center;
  padding: 3rem 0;
}
.pricing h3 {
  color: var(--heading1-secondarybg);
}
.pricing .heading {
  margin-bottom: 2rem;
}
.pricing .heading .text {
  margin: 1rem 0;
}
.rate-card {
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.rate-card-header {
  padding: 1.25rem;
  background-color: rgb(241, 241, 241);
  font-weight: 700;
  color: var(--text-2-secondarybg);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.rate-card-main {
  padding: 1rem;
}
.rate-card-main p {
  margin: 1rem;
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-1-secondarybg);
}
.rate-card-main .text-accent {
  font-size: 1.5rem;
  color: var(--primary-bg);
  font-weight: 800;
  vertical-align: top;
}
.rate-card-main .price {
  color: var(--primary-bg);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.rate-card-main .gray {
  color: var(--text-4);
  font-size: 0.875rem;
}
.rate-card-main .strike {
  text-decoration: line-through;
  color: var(--text-4);
}
.rate-card-footer {
  padding: 1.25rem;
  background-color: rgb(241, 241, 241);
}
.pricing .active .rate-card-header {
  background: var(--primary-bg);
  color: white;
}
.rate-card .advanced {
  background: var(--primary-bg);
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0rem 4rem;
  transform: rotate(45deg);
  position: absolute;
  right: -4rem;
  top: 1.5rem;
  z-index: 3;
}
/* FAQ Section*/
.faq {
  background-color: var(--secondary-bg);
  padding: 3rem 0;
  text-align: center;
}
.faq h3 {
  color: var(--heading1-secondarybg);
}
.faq .heading {
  margin-bottom: 2rem;
}
.faq .heading .text {
  margin: 1rem 0;
}
.faq .question-answer {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-1-secondarybg);
}
.question-1,
.question-2,
.question-3,
.question-4,
.question-5 {
  margin: 1rem 0;
  background-color: var(--text-white);
  padding: 1.5rem;
}
.faq .question {
  z-index: 3;
}
.faq .question .q-mark {
  border: 2px solid var(--primary-bg-lightest);
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  color: var(--primary-bg-lightest);
  font-size: 0.75rem;
}
.faq .answer {
  font-weight: 600;
  text-align: left;
  position: relative;
}
.faq .answer .text {
  padding: 1rem;
  display: none;
}
.faq .answer .fa-solid {
  font-size: 0.8125rem;
  position: absolute;
  right: 1rem;
  top: -1rem;
}
.faq .answer input {
  margin-right: 1rem;
  position: absolute;
  right: 8rem;
  top: 1.75rem;
  display: none;
}
.faq .answer .fa-chevron-up {
  display: none;
}
/* Answer display toggle and icon display toggle */
#icon-toggle:checked ~ .fa-chevron-down {
  display: none;
}
#icon-toggle:checked ~ .fa-chevron-up {
  display: inline-block;
}
#icon-toggle:checked ~ .text {
  display: block;
}
#icon-toggle-2:checked ~ .fa-chevron-down {
  display: none;
}
#icon-toggle-2:checked ~ .fa-chevron-up {
  display: inline-block;
}
#icon-toggle-2:checked ~ .text {
  display: block;
}
#icon-toggle-3:checked ~ .fa-chevron-down {
  display: none;
}
#icon-toggle-3:checked ~ .fa-chevron-up {
  display: inline-block;
}
#icon-toggle-3:checked ~ .text {
  display: block;
}
#icon-toggle-4:checked ~ .fa-chevron-down {
  display: none;
}
#icon-toggle-4:checked ~ .fa-chevron-up {
  display: inline-block;
}
#icon-toggle-4:checked ~ .text {
  display: block;
}
#icon-toggle-5:checked ~ .fa-chevron-down {
  display: none;
}
#icon-toggle-5:checked ~ .fa-chevron-up {
  display: inline-block;
}
#icon-toggle-5:checked ~ .text {
  display: block;
}
/* Contact Section */
.contact {
  background-color: var(--text-white);
  text-align: center;
  padding: 3rem 0;
}
.contact h3 {
  color: var(--heading1-secondarybg);
}
.contact .heading {
  margin-bottom: 2rem;
}
.contact .heading .text {
  margin: 1rem 0;
}
.contact .address {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
.contact .card {
  padding: 1rem;
  text-align: left;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.contact .card figure {
  border: 2px dotted var(--primary-bg-lightest);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: var(--primary-bg);
  margin-right: 1rem;
}

.contact .card h5 {
  color: var(--text-3);
}
.contact .card address {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--heading-whitebg);
  margin: 1rem 0;
}
.contact form {
  max-width: 80%;
  width: 100%;
  margin: 2rem auto;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}
.contact form input,
.contact form textarea {
  margin: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.5rem 1rem;
}
.contact form .btn {
  padding: 0.75rem 2rem;
  width: auto;
  box-shadow: none;
}

/* Footer Styles */
/* Footer-links */
.footer-links {
  background-color: var(--secondary-bg);
  padding: 3rem 0;
}
.footer-links address {
  color: var(--text-2-secondarybg);
  font-size: 0.875rem;
  font-weight: 500;
  margin: 1rem 0;
}
.footer-links article b {
  font-weight: 800;
}
.footer-links article strong {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-1-secondarybg);
}
.footer-links li {
  font-size: 0.8125rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
}
.footer-links li .fa-solid {
  font-size: 0.5rem;
  color: var(--primary-bg);
  margin-right: 0.5rem;
}
.footer-links li a {
  color: var(--text-2-secondarybg);
}
.footer-links .newsletter p {
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--heading2-secondarybg);
  margin: 1.5rem 0;
}
.footer-links .newsletter .subscribe {
  background-color: var(--text-white);
  position: relative;
  padding: 1.25rem 0;
  width: 80%;
}
.footer-links .newsletter .subscribe .btn {
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  position: absolute;
  right: -2rem;
  top: 0;
}
/* Footer copyright */
.footer .copyright {
  padding: 1rem 0;
  background-color: var(--text-white);
}
.footer small {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--heading2-secondarybg);
}
.footer small b {
  font-weight: 800;
}
.footer p {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--heading2-secondarybg);
}
.footer .text-accent {
  color: var(--primary-bg);
}
.copyright .social .circle {
  background-color: var(--primary-bg);
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--text-white);
}
/* Home Page Style End */

/* Blog Page Style Start */
.blog-main {
  margin-top: 5rem;
  background-color: white;
}
/* Blog Page Hero Section */
.blog-hero {
  padding: 1rem;
  background-color: rgb(241, 241, 241);
}
.blog-hero p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-1-secondarybg);
}
.blog-hero strong {
  display: block;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-1-secondarybg);
}
/* Blog History Section */
.blog-history {
  padding-top: 2rem;
}
.blog-history .blogs {
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
.blog-history .blogs article {
  padding: 1rem;
}
.blog-history .blogs article h5 {
  color: var(--text-1-secondarybg);
}
.blog-history .blogs article .user {
  margin: 1rem 0;
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--text-whitebg);
}
.blog-history .blogs article .user i {
  margin-right: 0.25rem;
  padding-top: 0.1rem;
}

.blog-history .blogs article time {
  display: inline-block;
  margin: 1rem 0;
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--text-whitebg);
  margin-left: 1rem;
}
.blog-history .blogs .text {
  font-weight: 500;
  color: var(--text-1-secondarybg);
}
.blog-history .blogs .btn {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  position: relative;
  left: 67%;
}
/* Pagination */
.blog-history nav {
  max-width: 30%;
  margin: 3rem auto;
}
.blog-history nav button {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--text-3);
  font-family: Arial, Helvetica, sans-serif;
}
.blog-history nav button .fa-solid {
  font-size: 0.5rem;
}
.blog-history nav .active {
  background-color: var(--primary-bg);
  color: var(--text-white);
}
/* Blog Page Style End */

/* Back to Top Button */
body {
  position: relative;
}
.top {
  position: fixed;
  right: 0.25%;
  bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

/* Hovering Styles */
a:hover {
  color: var(--primary-bg);
}
.hero .switch:hover {
  background-color: var(--primary-bg);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}
.about article .icon:hover {
  background-color: var(--primary-bg);
  color: var(--text-white);
  transition: all 300ms ease-in-out;
}
.primary-reason button:hover {
  background-color: var(--text-white);
  color: var(--primary-bg);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}
.primary-reason button:hover .fa-solid {
  color: var(--primary-bg);
  transition: all 300ms ease-in-out;
}
.clients figure img:hover {
  filter: grayscale(0);
}
.services .circle:hover {
  background-color: var(--text-white);
  color: var(--primary-bg);
  border: 2px solid var(--primary-bg);
  transition: all 300ms ease-in-out;
}
.values article div:hover * {
  color: var(--text-white);
  transition: all 300ms ease-in-out;
}
.values article div:hover {
  background: var(--primary-bg);
  transition: all 300ms ease-in-out;
}
.portfolio span:hover {
  background-color: rgba(234, 84, 51, 0.25);
  border-radius: 2rem;
  color: var(--primary-bg);
  transition: all 100ms ease-in-out;
}
.portfolio .inactive:hover ~ .active {
  background-color: var(--text-white);
  border-radius: 0rem;
  color: var(--text-1-secondarybg);
}
.portfolio figure:hover .link {
  display: flex;
}
.team figure:hover .social {
  display: flex;
}
.btn:hover {
  background-color: var(--primary-bg-lighter);
  color: var(--text-white);
}
.question:hover {
  color: var(--primary-bg);
}
.copyright .social .circle:hover {
  background-color: var(--primary-bg-lighter);
  color: var(--text-white);
}
.blog-history nav button:hover {
  background-color: var(--primary-bg);
  color: var(--text-white);
}
.blog-history .blogs article h5:hover {
  color: var(--primary-bg);
}

/* Media Query for Medium Screens */
@media screen and (max-width: 1024px) {
  /* Flex */
  .flex-100 {
    flex: 0 1 100%;
  }
  /* Header */
  .header .fa-bars {
    display: inline-block;
  }
  .header nav {
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header nav ul {
    width: 100%;
    flex-direction: column;
  }
  .header .nav-menu-item {
    width: 30%;
    text-align: center;
    order: 1;
  }
  .header .drop-down {
    order: 0;
  }
  .header .drop-down .drop-down-options {
    text-align: left;
    position: absolute;
    left: -35%;
    top: 2.5rem;
  }
  .header .drop-down .drop-down-options .drop-down-2-options {
    position: absolute;
    width: 80%;
    left: 100%;
    top: 20%;
  }
  #nav-toggle:checked ~ nav {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
  }
  .header input {
    display: none;
  }
  .header .fa-bars {
    color: var(--primary-bg);
    font-size: 1.5rem;
  }
  .hero {
    margin-top: 5rem;
  }
  /* Main */
  /* Reasons Section */
  .reasons .container-90 {
    flex-direction: column;
  }
  .reasons .primary-reason,
  .reasons .secondary-reason {
    margin: 1rem 0;
  }
  /* About Section */
  .about .big-fig {
    height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
  /* Clients Section */
  .clients .grow-overflow {
    flex: 1 0 25%;
  }
  /* Services Section */
  .services .flex-32 {
    flex: 0 1 48%;
    margin: 1.5rem 0;
  }
  /* Values Section */
  .values img {
    height: 30rem;
    object-fit: cover;
  }
  /* Testimonials Section */
  .testimonials blockquote {
    margin: 0rem;
  }
  /* Portfolio Section */
  .portfolio .flex-32 {
    flex: 0 1 48%;
  }
  /* Team Section */
  .team .flex-24 {
    flex: 0 1 49%;
    margin: 0.5rem 0;
  }
  /* Pricing Section */
  .pricing .flex-24 {
    flex: 0 1 49%;
    margin: 0.5rem 0;
  }
  /* FAQ Section */
  .faq .question-answer {
    max-width: 100%;
  }
  /* Contact Section */
  .contact .address {
    max-width: 100%;
  }
  .contact .card {
    margin: 1rem 0;
  }
  .contact form {
    max-width: 100%;
  }

  /* Footer */
  /* Footer-links Section*/
  .footer-links .flex-20,
  .footer-links .flex-24,
  .footer-links .flex-32 {
    flex: 0 1 49%;
    text-align: left;
    margin: 1rem 0;
  }
  /* Copyright */
  .copyright .container-90 {
    flex-direction: column;
    text-align: center;
  }
  .copyright .social {
    justify-content: center;
    margin: 1rem;
  }

  /* Blog Page Pagination */
  .blog-history nav {
    max-width: 100%;
    margin: 3rem auto;
  }

  /* Back to Top Button */
  .top {
    position: fixed;
    right: 2%;
    bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
}

/* Media Query for Small Screens */
@media screen and (max-width: 576px) {
  /* Header */
  .header .nav-menu-item {
    width: 50%;
    text-align: center;
    order: 1;
  }
  .header .drop-down {
    order: 0;
  }
  .header .drop-down .drop-down-options {
    text-align: left;
    position: absolute;
    left: -35%;
    top: 2.5rem;
  }
  .header .drop-down .drop-down-options .drop-down-2-options {
    position: absolute;
    width: 90%;
    left: 100%;
    top: 20%;
  }
  /* Clients Section */
  .clients .grow-overflow {
    flex: 1 0 49%;
  }
  /* Services Section */
  .services .flex-32 {
    flex: 0 1 100%;
    margin: 1.5rem 0;
  }
  /* Values Section */
  .values .flex-49 {
    flex: 0 1 100%;
  }
  /* Portfolio Section */
  .portfolio .flex-32 {
    flex: 0 1 100%;
  }
  /* Team Section */
  .team .flex-24 {
    flex: 0 1 100%;
  }
  /* Pricing Section */
  .pricing .flex-24 {
    flex: 0 1 100%;
    margin: 0.5rem 0;
  }

  /* Footer */
  /* Footer-links Section*/
  .footer-links .flex-20,
  .footer-links .flex-24,
  .footer-links .flex-32 {
    flex: 0 1 100%;
    text-align: left;
    margin: 1rem 0;
  }
}
